* {
    padding: 0px;
    margin: 0px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #636363;
    height: 60px;
    width: 100vw;
    font-size: 36px;
    display: flex;
    align-items: center;
}

.title {
    padding: 0 0 0 20px;
}

a {
    text-decoration: none;
    color: white;
}

.selected {
    color: #67c0ff;
}

nav {
    position: absolute;
    right: 0px;
}

ul > li {
    display: inline-block;
}

ul > li::before {
    color: white;
    content: "|";
    padding: 0 20px 0 0;
}

ul > li:first-of-type::before {
    content: none;
}

ul > li > a {
    padding: 0 10px 0 0;
}

main {
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: #dad7d7;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

.location {
    text-align: center;
}

select {
    margin: 20px 0 0 0;
    padding: 10px;
    font-size: 48px;
    border: 4px #646464 solid;
    background-color: inherit;
    appearance: none;
    border-radius: 43px;
    text-align: center;
}

article {
    border: 4px #646464 solid;
    background-color: white;
    width: 255px;
    height: 255px;
    box-sizing: border-box;
    border-radius: 43px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 36px;
    position: relative;
    transition: all 0.3s ease;
}

.hidden {
    display: none;
    font-size: 24px;
}

article:hover {
    width: 560px;
    height: 560px;
    padding: 20px;
    align-items: flex-start;
}

article:hover .temperature {
    position: absolute;
    right: 80px;
    top: 45%;
    transform: translateY(-50%);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 48px;
}

.date {
    font-style: italic;
}

article:hover img {
    height: 250px;
    width: 250px;
}

article:hover .hidden {
    display: inline;
}

article:hover .description {
    opacity: 1;
}

.temperature {
    font-size: 24px;
    font-weight: bold;
}

.min,
.max {
    margin: 0 10px;
}

.min {
    color: #4277ea;
}

.max {
    color: #ff5252;
}

img {
    display: block;
    transition: width 0.5s ease, height 0.5s ease 0.1s;
}

.description {
    font-size: 18px;
    padding: 0 0 0 20px;
    opacity: 0;
    transition: opacity 1s ease 1s;
}

.toast {
    position: absolute;
    box-sizing: border-box;
    border-radius: 9px;
    padding: 20px 10px;
    font-size: 16px;
    background-color: #eeeeee;
    bottom: 15px;
    left: 30vw;
    right: 30vw;
    box-shadow: 0 0 9px 1px rgba(0, 0, 0, 0.28);
    transform: translateY(calc(10px + 15px + 100%));
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.toast img {
    margin: 0 10px 0 0;
}

.toast_container {
    position: fixed;
    overflow: hidden;
    pointer-events: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}

.container_show_toast .toast {
    transform: translateY(0%);
}
