header {
    background-color: #636363;
    height: 60px;
    width: 100vw;
    font-size: 36px;
    display: flex;
    align-items: center;
}

.title {
    padding: 0 0 0 20px;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.selected {
    color: #67c0ff;
}

nav {
    position: absolute;
    right: 0px;
}

ul li {
    display: inline-block;
}

ul li::before {
    color: white;
    content: "|";
}

ul li:first-of-type::before {
    content: none;
}

ul li a {
    padding: 0 20px;
}
