:root {
    --card-time-in: 1s;
    --card-time-out: 1s;
    --card-time-delay-in: 0s;
    --card-time-delay-out: 0s;

    --card-title-time-in: 1s;
    --card-title-time-out: 1.1s;
    --card-title-time-delay-in: 0s;
    --card-title-time-delay-out: 0s;

    --card-sun-time-in: 1s;
    --card-sun-time-out: 1.1s;
    --card-sun-time-delay-in: 0s;
    --card-sun-time-delay-out: 0s;

    --card-temperature-time-in: 1s;
    --card-temperature-time-out: 1.1s;
    --card-temperature-time-delay-in: 0s;
    --card-temperature-time-delay-out: 0s;

    --card-special-time-in: 0.6s;
    --card-special-time-out: 0.4s;
    --card-special-time-delay-in: 0.3s;
    --card-special-time-delay-out: 0s;
}

<<<<<<< HEAD
header {
    background-color: #636363;
    height: 60px;
    width: 100vw;
    font-size: 36px;
    display: flex;
    align-items: center;
}

.title {
    padding: 0 0 0 20px;
}

a {
    text-decoration: none;
    color: white;
}

.selected {
    color: #67c0ff;
}

nav {
    position: absolute;
    right: 0px;
}

ul > li {
    display: inline-block;
}

ul > li::before {
    color: white;
    content: "|";
    padding: 0 20px 0 0;
}

ul > li:first-of-type::before {
    content: none;
}

ul > li > a {
    padding: 0 10px 0 0;
}

main {
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: #dad7d7;
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}

.location {
    text-align: center;
}

select {
    margin: 20px 0 0 0;
    padding: 10px;
    font-size: 48px;
    border: 4px #646464 solid;
    background-color: inherit;
    appearance: none;
    border-radius: 43px;
    text-align: center;
}

=======
>>>>>>> e3eadc3e10e1c9531639ed363264746011ae83db
article {
    position: relative;
    border: 4px #646464 solid;
    background-color: white;
    width: 255px;
    height: 255px;
    box-sizing: border-box;
    border-radius: 43px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    font-size: 36px;
    transition: all var(--card-time-out) ease var(--card-time-delay-out);
    overflow: hidden;
}
article:hover {
    width: 560px;
    height: 560px;
    padding: 20px;
    align-items: flex-start;
    transition: all var(--card-time-in) ease var(--card-time-delay-in);
}

.article__warning {
    pointer-events: none;
}

.day {
    display: inline;
    position: relative;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 36px;
    font-weight: 500;
    transition: all var(--card-title-time-out) ease
        var(--card-title-time-delay-out);
}

article:hover .day {
    left: 15%;
    transition: all var(--card-title-time-in) ease
        var(--card-title-time-delay-in);
}

.date {
    opacity: 0;
    position: absolute;
    padding: 20px;
    top: 2%;
    right: 5%;
    font-size: 24px;
    font-style: italic;
    transition: all 0.4s ease var(--card-title-time-delay-in);
}
article:hover .date {
    opacity: 1;
    top: 2%;
    right: 5%;
    transition: all 1s ease var(--card-title-time-delay-in);
}

.img-cont {
    display: flex;
    flex-flow: row nowrap;
    align-items: space-between;
    position: relative;
    width: 100%;
    height: 100px;
}

.img-cont img {
    display: block;
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 1s ease;
}
article:hover .img-cont {
    height: 220px;
}
article:hover .img-cont img {
    top: 5%;
    left: 20%;
    height: 220px;
    width: 220px;
}

.temperature {
    text-align: center;
    width: 100%;
    position: absolute;
    padding-bottom: 10px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 1;
    font-size: 24px;
    font-weight: bold;
}

.temperature-two {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 200px;
    position: absolute;
    left: 120%;
    top: 50%;
    font-size: 48px;
    font-weight: bold;
    transform: translate(0%, -50%);
}

article:hover .temperature {
    font-size: 24px;
}
article:hover .min,
article:hover .max {
    padding-right: 5px;
    padding-left: 5px;
}

.min {
    padding-right: 6px;
    color: #4277ea;
}

.max {
    padding-left: 6px;
    color: #ff5252;
}

.description-cont {
    padding: 0 0 10px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.description-cont-one,
.description-cont-two {
    overflow: hidden;
}

.description-title {
    position: relative;
    font-size: 24px;
    padding: 10px 0 10px 0;
}

.description-title-one,
.description-title-two {
    opacity: 0;
    transition: all var(--card-special-time-out) ease
        var(--card-special-time-delay-out);
}
article:hover .description-title-one,
article:hover .description-title-two {
    left: 0%;
    opacity: 1;
    transition: all var(--card-special-time-in) ease
        var(--card-special-time-delay-in);
}

.description-text {
    position: relative;
    font-size: 18px;
    padding: 0 0 0 20px;
}
.description-text-one,
.description-text-two {
    right: 100%;
    opacity: 0;
    transition: all var(--card-special-time-out) ease
        var(--card-special-time-delay-out);
}
article:hover .description-text-one,
article:hover .description-text-two {
    right: 0%;
    opacity: 1;
    transition: all var(--card-special-time-in) ease
        var(--card-special-time-delay-in);
}

.on {
    animation-name: on;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.out {
    animation-name: out;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.on-right {
    animation-name: on-right;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

.out-right {
    animation-name: out-right;
    animation-duration: 0.8s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

@keyframes on {
    0% {
        bottom: 0;
        opacity: 1;
    }
    100% {
        bottom: -20%;
        opacity: 0;
    }
}

@keyframes out {
    0% {
        bottom: -20%;
        opacity: 0;
    }
    100% {
        bottom: 0%;
        opacity: 1;
    }
}

@keyframes on-right {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    100% {
        left: 60%;
    }
}

@keyframes out-right {
    0% {
        opacity: 1;
        left: 60%;
    }
    40% {
        opacity: 1;
    }
    100% {
        left: 120%;
        opacity: 0;
    }
}
