.graphCard {
    border: 4px #646464 solid;
    background-color: white;
    box-sizing: border-box;
    border-radius: 43px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
}

.graphCard h1 {
    text-align: center;
    font-size: 36px;
    font-weight: normal;
}

.graphCard__description {
    text-align: right;
    font-style: italic;
    font-size: 16px;
}
